

<script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>


<script type="text/javascript">
    
 </script>

<div >
<div style="display:inline-block; vertical-align: middle;">
    <table >
   <tr> <td width="150">сыграно</td><td><div id='played' class='score-bar'>{{score.played}}</div></td></tr>
   <tr> <td>угадано</td><td><div id='guessed' class='score-bar'>{{score.guessed}}</div></td></tr>
   <tr> <td>с первой попытки</td><td><div id='first_try' class='score-bar'>{{score.first_try}}</div></td></tr>
   <tr> <td>со второй попытки</td><td><div id='second_try' class='score-bar'>{{score.second_try}}</div></td></tr>
   <tr> <td>с третьей попытки</td><td><div id='third_try' class='score-bar'>{{score.third_try}}</div></td></tr>
    </table>
</div>
<div style = "display:inline-block; vertical-align: middle; ">



    <img src="assets/logo.svg">
</div>
    <div style="display:inline-block; vertical-align: middle; position:relative;">

    <div class="menu-item" onclick="get_random_photo()">телепортироваться</div>
    <div class="menu-item" onclick=" toggle_two($('#description'),$('#remember_me')); ">что это такое?</div>
    <div id="description"  class="info-box">Любите путешествовать? Любите загадки? С "Угадай где" вы сможете получить и то и другое, не выходя из сидячего положения. Просто нажимайте "Телепортироваться", и мы "забросим" вас в случайную точку планеты. Посмотрите фотографию оттуда и попробуйте угадать, где это находится, выбрав один из четырех предложенных вариантов. Удачи! Если хотите сохранить результат, не забудьте нажать "Запомнить меня".<br> Источник изображений - <a href='https://www.mapillary.com/'>Mapillary.com</a></div>
    <div class="menu-item" onclick=" toggle_two($('#remember_me'),$('#description'));">запомнить меня</div>
    <div id="remember_me"  class="info-box">Ваша статистика будет храниться, пока вы не удалите cookies, связанные с этим сайтом. Если вы хотите, чтобы ваши результаты точно не потерялись, вы можете получить персональную ссылку и в следующий раз зайти на сайт через неё. <br><br><input id="link"><br><button onclick="get_link()">получить ссылку</button><br></div>


    </div>


</div>



<div id="photo" style="background-position:center;background-image:url('assets/field.png');display:inline-block;transition: background 1s linear; width:1024px; height:600px;background-position:left top; background-repeat:no-repeat;"></div>
<div id="map" style="vertical-align: top;display:inline-block; resize:both; overflow:hidden;  width:800px; height:600px"></div>


