<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

<button onclick="get_link()">get link</button>

<script>
    function get_link() {
    Rails.ajax({
      url: "/links/get_new_link",
      type: "get",
      success: function(data) { $("#link").val( 'http://localhost:3000/links/'+data ); }
    })
    }
</script>

<style>
    html {

        text-align:center;
        font-family:verdana;
    }
    table {
        font-size: 10px;
         border-collapse: collapse;


    }
    table td {
        padding: 0;
    }
    table tr {
        padding: 0;
    }
    .menu-item {

        border:1px solid black;
        border-radius:5px;
        padding:10px;
        width:200px;
        text-align:center;
        margin:5px;

    }
    .menu-item:hover{
        background-color:black;
        color:white;
        cursor:pointer;
    }
    .info-box {
        z-index:1000;
        display:none;
        background-color:#3E4345;
        color:white;
        position:absolute;
        border-radius: 5px;
        font-size: 12px;
        width:250px;
        padding:10px;
        padding-left:10px;
        padding-right:10px;
        word-wrap: break-word;
        margin:10px;
    }
    button {

        font-size:10px;

        border:none;
        padding:5px;


    }
    .score-bar {
        padding:5px;
        min-width:20px;
        height:20px;

        border-radius:0px 10px 10px 0px;
        color:white;

    }
    #played {
        background-color:#6699CC;
    }

    #guessed {
        background-color:#009933;
    }

    #first_try {
        background-color:#990033;
    }

    #second_try {
        background-color:#FF9933;
    }

    #third_try {
        background-color:#009999;
    }

</style>
{% load static %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
<script>

    $( document ).ready(function() {
        change_score(0,0,0);
    });

    function update_score_bar(data) {

         let base_width = 200;

            $('.score-bar').each(function() {
                $( this ).text( data[ this.id ] );
                $( this ).css('width',base_width * (data[this.id] / data.played) )
            });


    }


    function change_score(played,guessed,attempt) {


         var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
         $.ajax({
        headers:{"X-CSRFToken": $crf_token},
        url: "/change_score",
        type: "GET",
        data: { played:played,guessed:guessed,first_try: +(attempt==1) ,second_try: +(attempt==2),third_try: +(attempt==3) },
        success: function(data){
           
         update_score_bar(data);


    }
        });

    }
    function clear_map() {

    for (let i = 0; i < markers.length; i++) {

        markers[i].remove();

    }
    }
    function get_random_photo() {

    clear_map();

      $.ajax({
    url: "/get_random_photo",

    success: function(data){


        let attempt = 0;
        let done = false;
        for (let i = 0; i < data.length; i++) {
                if (data[i].link) {
                    let point = [data[i].coords.lat,data[i].coords.lon]

                    markers.push( DG.marker(point).addTo(map).bindPopup('Угадали! Ура! <br><a style="font-weight:bold" href="https://maps.google.com/maps?ll='+data[i].coords.lat+','+data[i].coords.lon+'">Посмотреть это меcто в GoogleMaps</a>').on('click', function() { attempt = attempt + 1; if (!done) {done=true; change_score(1,1,attempt) } } ) );
                    $("#photo").css("background-image", "url("+data[i].link+")");
                }
                else {
                    markers.push(DG.marker([data[i].coords.lat, data[i].coords.lon]).addTo(map).bindPopup('Увы! Не попали.').on('click', function() { attempt = attempt + 1; if (attempt==3 && !done) { done=true; change_score(1,0,0) } } ) );

                }
        }


    }
});


    };
    function toggle_two(obj1,obj2) {

        obj1.toggle();
        if (obj1.css('display')!='none') {obj2.css('display','none') }

    }

</script>
<script type="text/javascript">
            var map;
            var markers = [];
            DG.then(function () {
                map = new DG.map('map', {
                    center: [40.0, 10.0],
                    zoom: 2,
                    dragging : true,
                    touchZoom: true,
                    scrollWheelZoom: true,
                    doubleClickZoom: true,
                    boxZoom: true,
                    geoclicker: false,
                    zoomControl: true,
                    fullscreenControl: false,



                });

            });
 </script>
 {% csrf_token %}
<div >
<div style="display:inline-block; vertical-align: middle;">
    <table >
   <tr> <td width="150">сыграно</td><td><div id='played' class='score-bar'>{{score.played}}</div></td></tr>
   <tr> <td>угадано</td><td><div id='guessed' class='score-bar'>{{score.guessed}}</div></td></tr>
   <tr> <td>с первой попытки</td><td><div id='first_try' class='score-bar'>{{score.first_try}}</div></td></tr>
   <tr> <td>со второй попытки</td><td><div id='second_try' class='score-bar'>{{score.second_try}}</div></td></tr>
   <tr> <td>с третьей попытки</td><td><div id='third_try' class='score-bar'>{{score.third_try}}</div></td></tr>
    </table>
</div>
<div style = "display:inline-block; vertical-align: middle; ">



    <img src="app/assets/images/ogo.svg">
</div>
    <div style="display:inline-block; vertical-align: middle; position:relative;">

    <div class="menu-item" onclick="get_random_photo()">телепортироваться</div>
    <div class="menu-item" onclick=" toggle_two($('#description'),$('#remember_me')); ">что это такое?</div>
    <div id="description"  class="info-box">Любите путешествовать? Любите загадки? С "Угадай где" вы сможете получить и то и другое, не выходя из сидячего положения. Просто нажимайте "Телепортироваться", и мы "забросим" вас в случайную точку планеты. Посмотрите фотографию оттуда и попробуйте угадать, где это находится, выбрав один из четырех предложенных вариантов. Удачи! Если хотите сохранить результат, не забудьте нажать "Запомнить меня".<br> Источник изображений - <a href='https://www.mapillary.com/'>Mapillary.com</a></div>
    <div class="menu-item" onclick=" toggle_two($('#remember_me'),$('#description'));">запомнить меня</div>
    <div id="remember_me"  class="info-box">Ваша статистика будет храниться, пока вы не удалите cookies, связанные с этим сайтом. Если вы хотите, чтобы ваши результаты точно не потерялись, вы можете получить персональную ссылку и в следующий раз зайти на сайт через неё. <br><br><input id="link"><br><button onclick="get_link()">получить ссылку</button><br></div>


    </div>


</div>



<div id="photo" style="background-position:center;display:inline-block;background-image:url({% static 'field.png' %});transition: background 1s linear; width:1024px; height:600px;background-position:left top; background-repeat:no-repeat;"></div>
<div id="map" style="vertical-align: top;display:inline-block; resize:both; overflow:hidden;  width:800px; height:600px"></div>


